<form *ngIf="user" name="deleteForm" (ngSubmit)="confirmDelete(user?.login!)" (contextmenu)="__elementSelectionService.select('1380042407',$event)" [ngStyle]="__elementSelectionService.getStyles('1380042407')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1658374906',$event)" [ngStyle]="__elementSelectionService.getStyles('1658374906')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1055935736',$event)" [ngStyle]="__elementSelectionService.getStyles('1055935736')">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()" (contextmenu)="__elementSelectionService.select('1359766487',$event)" [ngStyle]="__elementSelectionService.getStyles('1359766487')">&#215;</button>
    </div>

    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1460130187',$event)" [ngStyle]="__elementSelectionService.getStyles('1460130187')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('1932287627',$event)" [ngStyle]="__elementSelectionService.getStyles('1932287627')"></jhi-alert-error>

        <p jhiTranslate="userManagement.delete.question" [translateValues]="{ login: user.login }" (contextmenu)="__elementSelectionService.select('1325878170',$event)" [ngStyle]="__elementSelectionService.getStyles('1325878170')">Are you sure you want to delete this User?</p>
    </div>

    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('2099747702',$event)" [ngStyle]="__elementSelectionService.getStyles('2099747702')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" (contextmenu)="__elementSelectionService.select('340100816',$event)" [ngStyle]="__elementSelectionService.getStyles('340100816')">
            <fa-icon icon="ban" (contextmenu)="__elementSelectionService.select('93084373',$event)" [ngStyle]="__elementSelectionService.getStyles('93084373')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1881315941',$event)" [ngStyle]="__elementSelectionService.getStyles('1881315941')">Cancel</span>
        </button>

        <button type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('824136508',$event)" [ngStyle]="__elementSelectionService.getStyles('824136508')">
            <fa-icon icon="times" (contextmenu)="__elementSelectionService.select('156508361',$event)" [ngStyle]="__elementSelectionService.getStyles('156508361')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1852410308',$event)" [ngStyle]="__elementSelectionService.getStyles('1852410308')">Delete</span>
        </button>
    </div>
</form>
