<div (contextmenu)="__elementSelectionService.select('292511494',$event)" [ngStyle]="__elementSelectionService.getStyles('292511494')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('509275347',$event)" [ngStyle]="__elementSelectionService.getStyles('509275347')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1973819249',$event)" [ngStyle]="__elementSelectionService.getStyles('1973819249')">
            <h1 jhiTranslate="reset.request.title" (contextmenu)="__elementSelectionService.select('1289354376',$event)" [ngStyle]="__elementSelectionService.getStyles('1289354376')">Reset your password</h1>

            <jhi-alert-error (contextmenu)="__elementSelectionService.select('909095453',$event)" [ngStyle]="__elementSelectionService.getStyles('909095453')"></jhi-alert-error>

            <div class="alert alert-warning" *ngIf="!success" (contextmenu)="__elementSelectionService.select('2145053823',$event)" [ngStyle]="__elementSelectionService.getStyles('2145053823')">
                <span jhiTranslate="reset.request.messages.info" (contextmenu)="__elementSelectionService.select('981623146',$event)" [ngStyle]="__elementSelectionService.getStyles('981623146')">Enter the email address you used to register.</span>
            </div>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('968681230',$event)" [ngStyle]="__elementSelectionService.getStyles('968681230')">
                <span jhiTranslate="reset.request.messages.success" (contextmenu)="__elementSelectionService.select('1925711230',$event)" [ngStyle]="__elementSelectionService.getStyles('1925711230')">Check your emails for details on how to reset your password.</span>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm" (contextmenu)="__elementSelectionService.select('1524217420',$event)" [ngStyle]="__elementSelectionService.getStyles('1524217420')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1937311052',$event)" [ngStyle]="__elementSelectionService.getStyles('1937311052')">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label" (contextmenu)="__elementSelectionService.select('757274810',$event)" [ngStyle]="__elementSelectionService.getStyles('757274810')">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}" formControlName="email" #email (contextmenu)="__elementSelectionService.select('527571861',$event)" [ngStyle]="__elementSelectionService.getStyles('527571861')">

                    <div *ngIf="resetRequestForm.get('email')!.invalid &#38;&#38; (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)" (contextmenu)="__elementSelectionService.select('143566305',$event)" [ngStyle]="__elementSelectionService.getStyles('143566305')">
                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.required" jhiTranslate="global.messages.validate.email.required" (contextmenu)="__elementSelectionService.select('862356185',$event)" [ngStyle]="__elementSelectionService.getStyles('862356185')">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid" (contextmenu)="__elementSelectionService.select('104180423',$event)" [ngStyle]="__elementSelectionService.getStyles('104180423')">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.minlength" jhiTranslate="global.messages.validate.email.minlength" (contextmenu)="__elementSelectionService.select('152348455',$event)" [ngStyle]="__elementSelectionService.getStyles('152348455')">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.maxlength" jhiTranslate="global.messages.validate.email.maxlength" (contextmenu)="__elementSelectionService.select('1950919241',$event)" [ngStyle]="__elementSelectionService.getStyles('1950919241')">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" jhiTranslate="reset.request.form.button" (contextmenu)="__elementSelectionService.select('1933545043',$event)" [ngStyle]="__elementSelectionService.getStyles('1933545043')">Reset</button>
            </form>
        </div>
    </div>
</div>
