<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dmCqbh">
            <h2><span jhiTranslate="okmeApp.dmCqbh.detail.title">Dm Cqbh</span> {{ dmCqbh.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="okmeApp.dmCqbh.ma">Ma</span></dt>
                <dd>
                    <span>{{ dmCqbh.ma }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.ten">Ten</span></dt>
                <dd>
                    <span>{{ dmCqbh.ten }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.diaChi">Dia Chi</span></dt>
                <dd>
                    <span>{{ dmCqbh.diaChi }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.maXa">Ma Xa</span></dt>
                <dd>
                    <span>{{ dmCqbh.maXa }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.maHuyen">Ma Huyen</span></dt>
                <dd>
                    <span>{{ dmCqbh.maHuyen }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.maTinh">Ma Tinh</span></dt>
                <dd>
                    <span>{{ dmCqbh.maTinh }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.emailAcc">Email Acc</span></dt>
                <dd>
                    <span>{{ dmCqbh.emailAcc }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ dmCqbh.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.status">Status</span></dt>
                <dd>
                    <span>{{ dmCqbh.status }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.createDate">Create Date</span></dt>
                <dd>
                    <span>{{ dmCqbh.createDate }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.activeDate">Active Date</span></dt>
                <dd>
                    <span>{{ dmCqbh.activeDate }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.inactiveDate">Inactive Date</span></dt>
                <dd>
                    <span>{{ dmCqbh.inactiveDate }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.maCqbhCha">Ma Cqbh Cha</span></dt>
                <dd>
                    <span>{{ dmCqbh.maCqbhCha }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.nguoiKy">Nguoi Ky</span></dt>
                <dd>
                    <span>{{ dmCqbh.nguoiKy }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.chucDanh">Chuc Danh</span></dt>
                <dd>
                    <span>{{ dmCqbh.chucDanh }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.tenNoiKy">Ten Noi Ky</span></dt>
                <dd>
                    <span>{{ dmCqbh.tenNoiKy }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.isActive">Is Active</span></dt>
                <dd>
                    <span>{{ dmCqbh.isActive }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.path">Path</span></dt>
                <dd>
                    <span>{{ dmCqbh.path }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.ngayKhoa">Ngay Khoa</span></dt>
                <dd>
                    <span>{{ dmCqbh.ngayKhoa }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmCqbh.ngayTemp">Ngay Temp</span></dt>
                <dd>
                    <span>{{ dmCqbh.ngayTemp }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dm-cqbh', dmCqbh.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
