<div>
    <h2 id="page-heading">
        <span jhiTranslate="okmeApp.dmCqbh.home.title">Dm Cqbhs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dm-cqbh" [routerLink]="['/dm-cqbh/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="okmeApp.dmCqbh.home.createLabel">
            Create a new Dm Cqbh
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dmCqbhs?.length === 0">
        <span jhiTranslate="okmeApp.dmCqbh.home.notFound">No dmCqbhs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dmCqbhs && dmCqbhs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ma"><span jhiTranslate="okmeApp.dmCqbh.ma">Ma</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ten"><span jhiTranslate="okmeApp.dmCqbh.ten">Ten</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="diaChi"><span jhiTranslate="okmeApp.dmCqbh.diaChi">Dia Chi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maXa"><span jhiTranslate="okmeApp.dmCqbh.maXa">Ma Xa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maHuyen"><span jhiTranslate="okmeApp.dmCqbh.maHuyen">Ma Huyen</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maTinh"><span jhiTranslate="okmeApp.dmCqbh.maTinh">Ma Tinh</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emailAcc"><span jhiTranslate="okmeApp.dmCqbh.emailAcc">Email Acc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="okmeApp.dmCqbh.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="okmeApp.dmCqbh.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="okmeApp.dmCqbh.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activeDate"><span jhiTranslate="okmeApp.dmCqbh.activeDate">Active Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inactiveDate"><span jhiTranslate="okmeApp.dmCqbh.inactiveDate">Inactive Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maCqbhCha"><span jhiTranslate="okmeApp.dmCqbh.maCqbhCha">Ma Cqbh Cha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nguoiKy"><span jhiTranslate="okmeApp.dmCqbh.nguoiKy">Nguoi Ky</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chucDanh"><span jhiTranslate="okmeApp.dmCqbh.chucDanh">Chuc Danh</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenNoiKy"><span jhiTranslate="okmeApp.dmCqbh.tenNoiKy">Ten Noi Ky</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="okmeApp.dmCqbh.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="path"><span jhiTranslate="okmeApp.dmCqbh.path">Path</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ngayKhoa"><span jhiTranslate="okmeApp.dmCqbh.ngayKhoa">Ngay Khoa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ngayTemp"><span jhiTranslate="okmeApp.dmCqbh.ngayTemp">Ngay Temp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dmCqbh of dmCqbhs ;trackBy: trackId">
                    <td><a [routerLink]="['/dm-cqbh', dmCqbh.id, 'view']">{{ dmCqbh.id }}</a></td>
                    <td>{{ dmCqbh.ma }}</td>
                    <td>{{ dmCqbh.ten }}</td>
                    <td>{{ dmCqbh.diaChi }}</td>
                    <td>{{ dmCqbh.maXa }}</td>
                    <td>{{ dmCqbh.maHuyen }}</td>
                    <td>{{ dmCqbh.maTinh }}</td>
                    <td>{{ dmCqbh.emailAcc }}</td>
                    <td>{{ dmCqbh.phoneNumber }}</td>
                    <td>{{ dmCqbh.status }}</td>
                    <td>{{ dmCqbh.createDate | date:'mediumDate' }}</td>
                    <td>{{ dmCqbh.activeDate | date:'mediumDate' }}</td>
                    <td>{{ dmCqbh.inactiveDate | date:'mediumDate' }}</td>
                    <td>{{ dmCqbh.maCqbhCha }}</td>
                    <td>{{ dmCqbh.nguoiKy }}</td>
                    <td>{{ dmCqbh.chucDanh }}</td>
                    <td>{{ dmCqbh.tenNoiKy }}</td>
                    <td>{{ dmCqbh.isActive }}</td>
                    <td>{{ dmCqbh.path }}</td>
                    <td>{{ dmCqbh.ngayKhoa }}</td>
                    <td>{{ dmCqbh.ngayTemp }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dm-cqbh', dmCqbh.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dm-cqbh', dmCqbh.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dmCqbh)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dmCqbhs && dmCqbhs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
