<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dm-cqbh-heading" jhiTranslate="okmeApp.dmCqbh.home.createOrEditLabel">Create or edit a Dm Cqbh</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.ma" for="field_ma">Ma</label>
                    <input type="text" class="form-control" name="ma" id="field_ma"
                           formControlName="ma"/>
                    <div *ngIf="editForm.get('ma')!.invalid && (editForm.get('ma')!.dirty || editForm.get('ma')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ma')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.ten" for="field_ten">Ten</label>
                    <input type="text" class="form-control" name="ten" id="field_ten"
                           formControlName="ten"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.diaChi" for="field_diaChi">Dia Chi</label>
                    <input type="text" class="form-control" name="diaChi" id="field_diaChi"
                           formControlName="diaChi"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.maXa" for="field_maXa">Ma Xa</label>
                    <input type="text" class="form-control" name="maXa" id="field_maXa"
                           formControlName="maXa"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.maHuyen" for="field_maHuyen">Ma Huyen</label>
                    <input type="text" class="form-control" name="maHuyen" id="field_maHuyen"
                           formControlName="maHuyen"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.maTinh" for="field_maTinh">Ma Tinh</label>
                    <input type="text" class="form-control" name="maTinh" id="field_maTinh"
                           formControlName="maTinh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.emailAcc" for="field_emailAcc">Email Acc</label>
                    <input type="text" class="form-control" name="emailAcc" id="field_emailAcc"
                           formControlName="emailAcc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.createDate" for="field_createDate">Create Date</label>
                    <div class="input-group">
                        <input id="field_createDate" type="text" class="form-control" name="createDate" ngbDatepicker #createDateDp="ngbDatepicker" formControlName="createDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.activeDate" for="field_activeDate">Active Date</label>
                    <div class="input-group">
                        <input id="field_activeDate" type="text" class="form-control" name="activeDate" ngbDatepicker #activeDateDp="ngbDatepicker" formControlName="activeDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="activeDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.inactiveDate" for="field_inactiveDate">Inactive Date</label>
                    <div class="input-group">
                        <input id="field_inactiveDate" type="text" class="form-control" name="inactiveDate" ngbDatepicker #inactiveDateDp="ngbDatepicker" formControlName="inactiveDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="inactiveDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.maCqbhCha" for="field_maCqbhCha">Ma Cqbh Cha</label>
                    <input type="text" class="form-control" name="maCqbhCha" id="field_maCqbhCha"
                           formControlName="maCqbhCha"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.nguoiKy" for="field_nguoiKy">Nguoi Ky</label>
                    <input type="text" class="form-control" name="nguoiKy" id="field_nguoiKy"
                           formControlName="nguoiKy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.chucDanh" for="field_chucDanh">Chuc Danh</label>
                    <input type="text" class="form-control" name="chucDanh" id="field_chucDanh"
                           formControlName="chucDanh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.tenNoiKy" for="field_tenNoiKy">Ten Noi Ky</label>
                    <input type="text" class="form-control" name="tenNoiKy" id="field_tenNoiKy"
                           formControlName="tenNoiKy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.isActive" for="field_isActive">Is Active</label>
                    <input type="text" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.path" for="field_path">Path</label>
                    <input type="text" class="form-control" name="path" id="field_path"
                           formControlName="path"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.ngayKhoa" for="field_ngayKhoa">Ngay Khoa</label>
                    <input type="number" class="form-control" name="ngayKhoa" id="field_ngayKhoa"
                           formControlName="ngayKhoa"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmCqbh.ngayTemp" for="field_ngayTemp">Ngay Temp</label>
                    <input type="text" class="form-control" name="ngayTemp" id="field_ngayTemp"
                           formControlName="ngayTemp"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
