<div (contextmenu)="__elementSelectionService.select('935353165',$event)" [ngStyle]="__elementSelectionService.getStyles('935353165')"(click)='__elementSelectionService.clear()'>
    <div class="row" (contextmenu)="__elementSelectionService.select('806675560',$event)" [ngStyle]="__elementSelectionService.getStyles('806675560')">
        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('87804692',$event)" [ngStyle]="__elementSelectionService.getStyles('87804692')">
            <span class="hipster img-fluid rounded" (contextmenu)="__elementSelectionService.select('1125119224',$event)" [ngStyle]="__elementSelectionService.getStyles('1125119224')"></span>
        </div>

        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('61849540',$event)" [ngStyle]="__elementSelectionService.getStyles('61849540')">
            <h1 jhiTranslate="error.title" (contextmenu)="__elementSelectionService.select('336542845',$event)" [ngStyle]="__elementSelectionService.getStyles('336542845')">Error Page!</h1>

            <div *ngIf="errorMessage" (contextmenu)="__elementSelectionService.select('1337407107',$event)" [ngStyle]="__elementSelectionService.getStyles('1337407107')">
                <div class="alert alert-danger" (contextmenu)="__elementSelectionService.select('1940108217',$event)" [ngStyle]="__elementSelectionService.getStyles('1940108217')">{{ errorMessage }}</div>
            </div>
        </div>
    </div>
</div>
