<nav class="navbar navbar-dark navbar-expand-md bg-dark" (contextmenu)="__elementSelectionService.select('2123098247',$event)" [ngStyle]="__elementSelectionService.getStyles('2123098247')"(click)='__elementSelectionService.clear()'>
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1621894130',$event)" [ngStyle]="__elementSelectionService.getStyles('1621894130')">
        <span class="logo-img" (contextmenu)="__elementSelectionService.select('1094856880',$event)" [ngStyle]="__elementSelectionService.getStyles('1094856880')"></span>
        <span jhiTranslate="global.title" class="navbar-title" (contextmenu)="__elementSelectionService.select('1793525259',$event)" [ngStyle]="__elementSelectionService.getStyles('1793525259')">Okme</span> <span class="navbar-version" (contextmenu)="__elementSelectionService.select('610951833',$event)" [ngStyle]="__elementSelectionService.getStyles('610951833')">{{ version }}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()" (contextmenu)="__elementSelectionService.select('634938965',$event)" [ngStyle]="__elementSelectionService.getStyles('634938965')">
        <fa-icon icon="bars" (contextmenu)="__elementSelectionService.select('1968117230',$event)" [ngStyle]="__elementSelectionService.getStyles('1968117230')"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()" (contextmenu)="__elementSelectionService.select('667587090',$event)" [ngStyle]="__elementSelectionService.getStyles('667587090')">
        <ul class="navbar-nav ml-auto" (contextmenu)="__elementSelectionService.select('1354973912',$event)" [ngStyle]="__elementSelectionService.getStyles('1354973912')">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (contextmenu)="__elementSelectionService.select('919563355',$event)" [ngStyle]="__elementSelectionService.getStyles('919563355')">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('992149257',$event)" [ngStyle]="__elementSelectionService.getStyles('992149257')">
                    <span (contextmenu)="__elementSelectionService.select('1208725629',$event)" [ngStyle]="__elementSelectionService.getStyles('1208725629')">
                        <fa-icon icon="home" (contextmenu)="__elementSelectionService.select('43318822',$event)" [ngStyle]="__elementSelectionService.getStyles('43318822')"></fa-icon>
                        <span jhiTranslate="global.menu.home" (contextmenu)="__elementSelectionService.select('1341454235',$event)" [ngStyle]="__elementSelectionService.getStyles('1341454235')">Home</span>
                    </span>
                </a>
            </li>
            
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (contextmenu)="__elementSelectionService.select('1669501915',$event)" [ngStyle]="__elementSelectionService.getStyles('1669501915')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" (contextmenu)="__elementSelectionService.select('1990156174',$event)" [ngStyle]="__elementSelectionService.getStyles('1990156174')">
                    <span (contextmenu)="__elementSelectionService.select('1407187637',$event)" [ngStyle]="__elementSelectionService.getStyles('1407187637')">
                        <fa-icon icon="th-list" (contextmenu)="__elementSelectionService.select('998217594',$event)" [ngStyle]="__elementSelectionService.getStyles('998217594')"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main" (contextmenu)="__elementSelectionService.select('1284822917',$event)" [ngStyle]="__elementSelectionService.getStyles('1284822917')">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu" (contextmenu)="__elementSelectionService.select('1081840310',$event)" [ngStyle]="__elementSelectionService.getStyles('1081840310')">
                    <li (contextmenu)="__elementSelectionService.select('1826476638',$event)" [ngStyle]="__elementSelectionService.getStyles('1826476638')">
                        <a class="dropdown-item" routerLink="dm-cqbh" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('727604472',$event)" [ngStyle]="__elementSelectionService.getStyles('727604472')">
                            <fa-icon icon="asterisk" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1100779241',$event)" [ngStyle]="__elementSelectionService.getStyles('1100779241')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.dmCqbh" (contextmenu)="__elementSelectionService.select('1567513166',$event)" [ngStyle]="__elementSelectionService.getStyles('1567513166')">Dm Cqbh</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1604529311',$event)" [ngStyle]="__elementSelectionService.getStyles('1604529311')">
                        <a class="dropdown-item" routerLink="dm-don-vi" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('113443343',$event)" [ngStyle]="__elementSelectionService.getStyles('113443343')">
                            <fa-icon icon="asterisk" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('588070904',$event)" [ngStyle]="__elementSelectionService.getStyles('588070904')"></fa-icon>
                            <span jhiTranslate="global.menu.entities.dmDonVi" (contextmenu)="__elementSelectionService.select('203341309',$event)" [ngStyle]="__elementSelectionService.getStyles('203341309')">Dm Don Vi</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (contextmenu)="__elementSelectionService.select('1251979061',$event)" [ngStyle]="__elementSelectionService.getStyles('1251979061')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" (contextmenu)="__elementSelectionService.select('1423052563',$event)" [ngStyle]="__elementSelectionService.getStyles('1423052563')">
                    <span (contextmenu)="__elementSelectionService.select('518658190',$event)" [ngStyle]="__elementSelectionService.getStyles('518658190')">
                        <fa-icon icon="user-plus" (contextmenu)="__elementSelectionService.select('1742913531',$event)" [ngStyle]="__elementSelectionService.getStyles('1742913531')"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main" (contextmenu)="__elementSelectionService.select('1353925173',$event)" [ngStyle]="__elementSelectionService.getStyles('1353925173')">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu" (contextmenu)="__elementSelectionService.select('341669287',$event)" [ngStyle]="__elementSelectionService.getStyles('341669287')">
                    <li (contextmenu)="__elementSelectionService.select('1513959882',$event)" [ngStyle]="__elementSelectionService.getStyles('1513959882')">
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('684867601',$event)" [ngStyle]="__elementSelectionService.getStyles('684867601')">
                            <fa-icon icon="user" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1656364500',$event)" [ngStyle]="__elementSelectionService.getStyles('1656364500')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement" (contextmenu)="__elementSelectionService.select('498445417',$event)" [ngStyle]="__elementSelectionService.getStyles('498445417')">User management</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('783641972',$event)" [ngStyle]="__elementSelectionService.getStyles('783641972')">
                        <a class="dropdown-item" routerLink="admin/tracker" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('341668475',$event)" [ngStyle]="__elementSelectionService.getStyles('341668475')">
                            <fa-icon icon="eye" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('649828761',$event)" [ngStyle]="__elementSelectionService.getStyles('649828761')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.tracker" (contextmenu)="__elementSelectionService.select('375242691',$event)" [ngStyle]="__elementSelectionService.getStyles('375242691')">User tracker</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('319209137',$event)" [ngStyle]="__elementSelectionService.getStyles('319209137')">
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1815599104',$event)" [ngStyle]="__elementSelectionService.getStyles('1815599104')">
                            <fa-icon icon="tachometer-alt" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('372958030',$event)" [ngStyle]="__elementSelectionService.getStyles('372958030')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics" (contextmenu)="__elementSelectionService.select('1843590637',$event)" [ngStyle]="__elementSelectionService.getStyles('1843590637')">Metrics</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1261907414',$event)" [ngStyle]="__elementSelectionService.getStyles('1261907414')">
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('429005672',$event)" [ngStyle]="__elementSelectionService.getStyles('429005672')">
                            <fa-icon icon="heart" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1492368263',$event)" [ngStyle]="__elementSelectionService.getStyles('1492368263')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health" (contextmenu)="__elementSelectionService.select('574910697',$event)" [ngStyle]="__elementSelectionService.getStyles('574910697')">Health</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1349497066',$event)" [ngStyle]="__elementSelectionService.getStyles('1349497066')">
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1496295636',$event)" [ngStyle]="__elementSelectionService.getStyles('1496295636')">
                            <fa-icon icon="list" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('474288117',$event)" [ngStyle]="__elementSelectionService.getStyles('474288117')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration" (contextmenu)="__elementSelectionService.select('495450028',$event)" [ngStyle]="__elementSelectionService.getStyles('495450028')">Configuration</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('809696278',$event)" [ngStyle]="__elementSelectionService.getStyles('809696278')">
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('336567234',$event)" [ngStyle]="__elementSelectionService.getStyles('336567234')">
                            <fa-icon icon="bell" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('536937489',$event)" [ngStyle]="__elementSelectionService.getStyles('536937489')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits" (contextmenu)="__elementSelectionService.select('35237162',$event)" [ngStyle]="__elementSelectionService.getStyles('35237162')">Audits</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('630997811',$event)" [ngStyle]="__elementSelectionService.getStyles('630997811')">
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1294278089',$event)" [ngStyle]="__elementSelectionService.getStyles('1294278089')">
                            <fa-icon icon="tasks" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1697430000',$event)" [ngStyle]="__elementSelectionService.getStyles('1697430000')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs" (contextmenu)="__elementSelectionService.select('714291330',$event)" [ngStyle]="__elementSelectionService.getStyles('714291330')">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled" (contextmenu)="__elementSelectionService.select('1842443064',$event)" [ngStyle]="__elementSelectionService.getStyles('1842443064')">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('142598174',$event)" [ngStyle]="__elementSelectionService.getStyles('142598174')">
                            <fa-icon icon="book" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('144456664',$event)" [ngStyle]="__elementSelectionService.getStyles('144456664')"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs" (contextmenu)="__elementSelectionService.select('1006126433',$event)" [ngStyle]="__elementSelectionService.getStyles('1006126433')">API</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages &#38;&#38; languages.length &#62; 1" (contextmenu)="__elementSelectionService.select('1565964693',$event)" [ngStyle]="__elementSelectionService.getStyles('1565964693')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" (contextmenu)="__elementSelectionService.select('719244593',$event)" [ngStyle]="__elementSelectionService.getStyles('719244593')">
                    <span (contextmenu)="__elementSelectionService.select('1131770185',$event)" [ngStyle]="__elementSelectionService.getStyles('1131770185')">
                        <fa-icon icon="flag" (contextmenu)="__elementSelectionService.select('979367691',$event)" [ngStyle]="__elementSelectionService.getStyles('979367691')"></fa-icon>
                        <span jhiTranslate="global.menu.language" (contextmenu)="__elementSelectionService.select('1387101124',$event)" [ngStyle]="__elementSelectionService.getStyles('1387101124')">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown" (contextmenu)="__elementSelectionService.select('247890917',$event)" [ngStyle]="__elementSelectionService.getStyles('247890917')">
                    <li *ngFor="let language of languages" (contextmenu)="__elementSelectionService.select('1716606029',$event)" [ngStyle]="__elementSelectionService.getStyles('1716606029')">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();" (contextmenu)="__elementSelectionService.select('594739235',$event)" [ngStyle]="__elementSelectionService.getStyles('594739235')">{{ language | findLanguageFromKey }}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (contextmenu)="__elementSelectionService.select('439954642',$event)" [ngStyle]="__elementSelectionService.getStyles('439954642')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" (contextmenu)="__elementSelectionService.select('542793179',$event)" [ngStyle]="__elementSelectionService.getStyles('542793179')">
                    <span *ngIf="!getImageUrl()" (contextmenu)="__elementSelectionService.select('1288013473',$event)" [ngStyle]="__elementSelectionService.getStyles('1288013473')">
                        <fa-icon icon="user" (contextmenu)="__elementSelectionService.select('1997337858',$event)" [ngStyle]="__elementSelectionService.getStyles('1997337858')"></fa-icon>
                        <span jhiTranslate="global.menu.account.main" (contextmenu)="__elementSelectionService.select('612374669',$event)" [ngStyle]="__elementSelectionService.getStyles('612374669')">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()" (contextmenu)="__elementSelectionService.select('1447443779',$event)" [ngStyle]="__elementSelectionService.getStyles('1447443779')">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" (contextmenu)="__elementSelectionService.select('911628708',$event)" [ngStyle]="__elementSelectionService.getStyles('911628708')">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu" (contextmenu)="__elementSelectionService.select('652353161',$event)" [ngStyle]="__elementSelectionService.getStyles('652353161')">
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('33697448',$event)" [ngStyle]="__elementSelectionService.getStyles('33697448')">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1699329934',$event)" [ngStyle]="__elementSelectionService.getStyles('1699329934')">
                            <fa-icon icon="wrench" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1633049082',$event)" [ngStyle]="__elementSelectionService.getStyles('1633049082')"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings" (contextmenu)="__elementSelectionService.select('1467352335',$event)" [ngStyle]="__elementSelectionService.getStyles('1467352335')">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('1150420519',$event)" [ngStyle]="__elementSelectionService.getStyles('1150420519')">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1817132284',$event)" [ngStyle]="__elementSelectionService.getStyles('1817132284')">
                            <fa-icon icon="lock" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1065689350',$event)" [ngStyle]="__elementSelectionService.getStyles('1065689350')"></fa-icon>
                            <span jhiTranslate="global.menu.account.password" (contextmenu)="__elementSelectionService.select('1488717188',$event)" [ngStyle]="__elementSelectionService.getStyles('1488717188')">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('214668170',$event)" [ngStyle]="__elementSelectionService.getStyles('214668170')">
                        <a class="dropdown-item" (click)="logout()" id="logout" (contextmenu)="__elementSelectionService.select('427226675',$event)" [ngStyle]="__elementSelectionService.getStyles('427226675')">
                            <fa-icon icon="sign-out-alt" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('267221258',$event)" [ngStyle]="__elementSelectionService.getStyles('267221258')"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout" (contextmenu)="__elementSelectionService.select('935714134',$event)" [ngStyle]="__elementSelectionService.getStyles('935714134')">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('1732399079',$event)" [ngStyle]="__elementSelectionService.getStyles('1732399079')">
                        <a class="dropdown-item" (click)="login()" id="login" (contextmenu)="__elementSelectionService.select('1236007506',$event)" [ngStyle]="__elementSelectionService.getStyles('1236007506')">
                            <fa-icon icon="sign-in-alt" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('761982788',$event)" [ngStyle]="__elementSelectionService.getStyles('761982788')"></fa-icon>
                            <span jhiTranslate="global.menu.account.login" (contextmenu)="__elementSelectionService.select('878487762',$event)" [ngStyle]="__elementSelectionService.getStyles('878487762')">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('1100276937',$event)" [ngStyle]="__elementSelectionService.getStyles('1100276937')">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1467740099',$event)" [ngStyle]="__elementSelectionService.getStyles('1467740099')">
                            <fa-icon icon="user-plus" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('756103847',$event)" [ngStyle]="__elementSelectionService.getStyles('756103847')"></fa-icon>
                            <span jhiTranslate="global.menu.account.register" (contextmenu)="__elementSelectionService.select('2094669295',$event)" [ngStyle]="__elementSelectionService.getStyles('2094669295')">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
