<form *ngIf="dmCqbh" name="deleteForm" (ngSubmit)="confirmDelete(dmCqbh?.id!)" (contextmenu)="__elementSelectionService.select('1082934490',$event)" [ngStyle]="__elementSelectionService.getStyles('1082934490')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1511599614',$event)" [ngStyle]="__elementSelectionService.getStyles('1511599614')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('2022775027',$event)" [ngStyle]="__elementSelectionService.getStyles('2022775027')">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()" (contextmenu)="__elementSelectionService.select('1825615729',$event)" [ngStyle]="__elementSelectionService.getStyles('1825615729')">&#215;</button>
    </div>

    <div class="modal-body" (contextmenu)="__elementSelectionService.select('979383963',$event)" [ngStyle]="__elementSelectionService.getStyles('979383963')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('696621812',$event)" [ngStyle]="__elementSelectionService.getStyles('696621812')"></jhi-alert-error>

        <p id="jhi-delete-dmCqbh-heading" jhiTranslate="okmeApp.dmCqbh.delete.question" [translateValues]="{ id: dmCqbh.id }" (contextmenu)="__elementSelectionService.select('1495488951',$event)" [ngStyle]="__elementSelectionService.getStyles('1495488951')">Are you sure you want to delete this Dm Cqbh?</p>
    </div>

    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('820108997',$event)" [ngStyle]="__elementSelectionService.getStyles('820108997')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" (contextmenu)="__elementSelectionService.select('185524908',$event)" [ngStyle]="__elementSelectionService.getStyles('185524908')">
            <fa-icon icon="ban" (contextmenu)="__elementSelectionService.select('249137923',$event)" [ngStyle]="__elementSelectionService.getStyles('249137923')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('1299486094',$event)" [ngStyle]="__elementSelectionService.getStyles('1299486094')">Cancel</span>
        </button>

        <button id="jhi-confirm-delete-dmCqbh" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('1935502611',$event)" [ngStyle]="__elementSelectionService.getStyles('1935502611')">
            <fa-icon icon="times" (contextmenu)="__elementSelectionService.select('255519318',$event)" [ngStyle]="__elementSelectionService.getStyles('255519318')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('1308223777',$event)" [ngStyle]="__elementSelectionService.getStyles('1308223777')">Delete</span>
        </button>
    </div>
</form>
