<div (contextmenu)="__elementSelectionService.select('295258759',$event)" [ngStyle]="__elementSelectionService.getStyles('295258759')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1929419293',$event)" [ngStyle]="__elementSelectionService.getStyles('1929419293')">
        <div class="col-md-8" *ngIf="account$ | async as account" (contextmenu)="__elementSelectionService.select('672545672',$event)" [ngStyle]="__elementSelectionService.getStyles('672545672')">
            <h2 jhiTranslate="password.title" [translateValues]="{ username: account.login }" (contextmenu)="__elementSelectionService.select('1314145361',$event)" [ngStyle]="__elementSelectionService.getStyles('1314145361')">Password for [<strong (contextmenu)="__elementSelectionService.select('354442453',$event)" [ngStyle]="__elementSelectionService.getStyles('354442453')">{{ account.login }}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success" (contextmenu)="__elementSelectionService.select('1644690462',$event)" [ngStyle]="__elementSelectionService.getStyles('1644690462')">
                <strong (contextmenu)="__elementSelectionService.select('2069123501',$event)" [ngStyle]="__elementSelectionService.getStyles('2069123501')">Password changed!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error" (contextmenu)="__elementSelectionService.select('399434842',$event)" [ngStyle]="__elementSelectionService.getStyles('399434842')">
                <strong (contextmenu)="__elementSelectionService.select('2081922',$event)" [ngStyle]="__elementSelectionService.getStyles('2081922')">An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch" (contextmenu)="__elementSelectionService.select('1562722195',$event)" [ngStyle]="__elementSelectionService.getStyles('1562722195')">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm" (contextmenu)="__elementSelectionService.select('69588131',$event)" [ngStyle]="__elementSelectionService.getStyles('69588131')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1680415817',$event)" [ngStyle]="__elementSelectionService.getStyles('1680415817')">
                    <label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label" (contextmenu)="__elementSelectionService.select('443350938',$event)" [ngStyle]="__elementSelectionService.getStyles('443350938')">Current password</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}" formControlName="currentPassword" (contextmenu)="__elementSelectionService.select('1858175715',$event)" [ngStyle]="__elementSelectionService.getStyles('1858175715')">

                    <div *ngIf="passwordForm.get('currentPassword')!.invalid &#38;&#38; (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" (contextmenu)="__elementSelectionService.select('1156301652',$event)" [ngStyle]="__elementSelectionService.getStyles('1156301652')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('1745634516',$event)" [ngStyle]="__elementSelectionService.getStyles('1745634516')">
                            Your password is required.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('367126112',$event)" [ngStyle]="__elementSelectionService.getStyles('367126112')">
                    <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label" (contextmenu)="__elementSelectionService.select('2002106533',$event)" [ngStyle]="__elementSelectionService.getStyles('2002106533')">New password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}" formControlName="newPassword" (contextmenu)="__elementSelectionService.select('1832793208',$event)" [ngStyle]="__elementSelectionService.getStyles('1832793208')">

                    <div *ngIf="passwordForm.get('newPassword')!.invalid &#38;&#38; (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)" (contextmenu)="__elementSelectionService.select('1738471407',$event)" [ngStyle]="__elementSelectionService.getStyles('1738471407')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('2111233946',$event)" [ngStyle]="__elementSelectionService.getStyles('2111233946')">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength" jhiTranslate="global.messages.validate.newpassword.minlength" (contextmenu)="__elementSelectionService.select('656199701',$event)" [ngStyle]="__elementSelectionService.getStyles('656199701')">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength" (contextmenu)="__elementSelectionService.select('991804794',$event)" [ngStyle]="__elementSelectionService.getStyles('991804794')">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value" (contextmenu)="__elementSelectionService.select('724305017',$event)" [ngStyle]="__elementSelectionService.getStyles('724305017')"></jhi-password-strength-bar>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1624061065',$event)" [ngStyle]="__elementSelectionService.getStyles('1624061065')">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label" (contextmenu)="__elementSelectionService.select('563141885',$event)" [ngStyle]="__elementSelectionService.getStyles('563141885')">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('1999655896',$event)" [ngStyle]="__elementSelectionService.getStyles('1999655896')">

                    <div *ngIf="passwordForm.get('confirmPassword')!.invalid &#38;&#38; (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)" (contextmenu)="__elementSelectionService.select('1022660235',$event)" [ngStyle]="__elementSelectionService.getStyles('1022660235')">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required" jhiTranslate="global.messages.validate.confirmpassword.required" (contextmenu)="__elementSelectionService.select('898931936',$event)" [ngStyle]="__elementSelectionService.getStyles('898931936')">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength" (contextmenu)="__elementSelectionService.select('314890651',$event)" [ngStyle]="__elementSelectionService.getStyles('314890651')">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength" (contextmenu)="__elementSelectionService.select('1730143880',$event)" [ngStyle]="__elementSelectionService.getStyles('1730143880')">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" jhiTranslate="password.form.button" (contextmenu)="__elementSelectionService.select('2131213366',$event)" [ngStyle]="__elementSelectionService.getStyles('2131213366')">Save</button>
            </form>
        </div>
    </div>
</div>
