<div (contextmenu)="__elementSelectionService.select('852646626',$event)" [ngStyle]="__elementSelectionService.getStyles('852646626')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1292391301',$event)" [ngStyle]="__elementSelectionService.getStyles('1292391301')">
        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1831671180',$event)" [ngStyle]="__elementSelectionService.getStyles('1831671180')">
            <h1 jhiTranslate="reset.finish.title" (contextmenu)="__elementSelectionService.select('725377241',$event)" [ngStyle]="__elementSelectionService.getStyles('725377241')">Reset password</h1>

            <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing" *ngIf="initialized &#38;&#38; !key" (contextmenu)="__elementSelectionService.select('1287165762',$event)" [ngStyle]="__elementSelectionService.getStyles('1287165762')">
                <strong (contextmenu)="__elementSelectionService.select('1126396203',$event)" [ngStyle]="__elementSelectionService.getStyles('1126396203')">The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="key &#38;&#38; !success" (contextmenu)="__elementSelectionService.select('1185385910',$event)" [ngStyle]="__elementSelectionService.getStyles('1185385910')">
                <span jhiTranslate="reset.finish.messages.info" (contextmenu)="__elementSelectionService.select('248846099',$event)" [ngStyle]="__elementSelectionService.getStyles('248846099')">Choose a new password</span>
            </div>

            <div class="alert alert-danger" *ngIf="error" (contextmenu)="__elementSelectionService.select('106926860',$event)" [ngStyle]="__elementSelectionService.getStyles('106926860')">
                <span jhiTranslate="reset.finish.messages.error" (contextmenu)="__elementSelectionService.select('1588396229',$event)" [ngStyle]="__elementSelectionService.getStyles('1588396229')">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span>
            </div>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('605940891',$event)" [ngStyle]="__elementSelectionService.getStyles('605940891')">
                <span jhiTranslate="reset.finish.messages.success" (contextmenu)="__elementSelectionService.select('47585924',$event)" [ngStyle]="__elementSelectionService.getStyles('47585924')"><strong (contextmenu)="__elementSelectionService.select('2020290081',$event)" [ngStyle]="__elementSelectionService.getStyles('2020290081')">Your password has been reset.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link" (contextmenu)="__elementSelectionService.select('1316397761',$event)" [ngStyle]="__elementSelectionService.getStyles('1316397761')">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch" (contextmenu)="__elementSelectionService.select('88405664',$event)" [ngStyle]="__elementSelectionService.getStyles('88405664')">
                The password and its confirmation do not match!
            </div>

            <div *ngIf="key &#38;&#38; !success" (contextmenu)="__elementSelectionService.select('938794678',$event)" [ngStyle]="__elementSelectionService.getStyles('938794678')">
                <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm" (contextmenu)="__elementSelectionService.select('382723151',$event)" [ngStyle]="__elementSelectionService.getStyles('382723151')">
                    <div class="form-group" (contextmenu)="__elementSelectionService.select('1842621693',$event)" [ngStyle]="__elementSelectionService.getStyles('1842621693')">
                        <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label" (contextmenu)="__elementSelectionService.select('1334257169',$event)" [ngStyle]="__elementSelectionService.getStyles('1334257169')">New password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}" formControlName="newPassword" #newPassword (contextmenu)="__elementSelectionService.select('1578586169',$event)" [ngStyle]="__elementSelectionService.getStyles('1578586169')">

                        <div *ngIf="passwordForm.get('newPassword')!.invalid &#38;&#38; (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)" (contextmenu)="__elementSelectionService.select('932391464',$event)" [ngStyle]="__elementSelectionService.getStyles('932391464')">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required" jhiTranslate="global.messages.validate.newpassword.required" (contextmenu)="__elementSelectionService.select('2079087587',$event)" [ngStyle]="__elementSelectionService.getStyles('2079087587')">
                                Your password is required.
                            </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength" jhiTranslate="global.messages.validate.newpassword.minlength" (contextmenu)="__elementSelectionService.select('229465377',$event)" [ngStyle]="__elementSelectionService.getStyles('229465377')">
                                Your password is required to be at least 4 characters.
                            </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength" (contextmenu)="__elementSelectionService.select('1776243253',$event)" [ngStyle]="__elementSelectionService.getStyles('1776243253')">
                                Your password cannot be longer than 50 characters.
                            </small>
                        </div>

                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value" (contextmenu)="__elementSelectionService.select('1202972492',$event)" [ngStyle]="__elementSelectionService.getStyles('1202972492')"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group" (contextmenu)="__elementSelectionService.select('1578737434',$event)" [ngStyle]="__elementSelectionService.getStyles('1578737434')">
                        <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label" (contextmenu)="__elementSelectionService.select('960140717',$event)" [ngStyle]="__elementSelectionService.getStyles('960140717')">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('711407173',$event)" [ngStyle]="__elementSelectionService.getStyles('711407173')">

                        <div *ngIf="passwordForm.get('confirmPassword')!.invalid &#38;&#38; (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)" (contextmenu)="__elementSelectionService.select('1916153282',$event)" [ngStyle]="__elementSelectionService.getStyles('1916153282')">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required" jhiTranslate="global.messages.validate.confirmpassword.required" (contextmenu)="__elementSelectionService.select('1623559633',$event)" [ngStyle]="__elementSelectionService.getStyles('1623559633')">
                                Your password confirmation is required.
                            </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength" (contextmenu)="__elementSelectionService.select('222292889',$event)" [ngStyle]="__elementSelectionService.getStyles('222292889')">
                                Your password confirmation is required to be at least 4 characters.
                            </small>

                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength" (contextmenu)="__elementSelectionService.select('511254885',$event)" [ngStyle]="__elementSelectionService.getStyles('511254885')">
                                Your password confirmation cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>

                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" jhiTranslate="reset.finish.form.button" (contextmenu)="__elementSelectionService.select('1575114581',$event)" [ngStyle]="__elementSelectionService.getStyles('1575114581')">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
