<div (contextmenu)="__elementSelectionService.select('1293204377',$event)" [ngStyle]="__elementSelectionService.getStyles('1293204377')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1178638354',$event)" [ngStyle]="__elementSelectionService.getStyles('1178638354')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1563146047',$event)" [ngStyle]="__elementSelectionService.getStyles('1563146047')">
            <h1 jhiTranslate="activate.title" (contextmenu)="__elementSelectionService.select('1844964007',$event)" [ngStyle]="__elementSelectionService.getStyles('1844964007')">Activation</h1>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('1494222588',$event)" [ngStyle]="__elementSelectionService.getStyles('1494222588')">
                <span jhiTranslate="activate.messages.success" (contextmenu)="__elementSelectionService.select('466781636',$event)" [ngStyle]="__elementSelectionService.getStyles('466781636')"><strong (contextmenu)="__elementSelectionService.select('457202638',$event)" [ngStyle]="__elementSelectionService.getStyles('457202638')">Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link" (contextmenu)="__elementSelectionService.select('1227892947',$event)" [ngStyle]="__elementSelectionService.getStyles('1227892947')">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error" (contextmenu)="__elementSelectionService.select('281997551',$event)" [ngStyle]="__elementSelectionService.getStyles('281997551')">
                <strong (contextmenu)="__elementSelectionService.select('532523927',$event)" [ngStyle]="__elementSelectionService.getStyles('532523927')">Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>
        </div>
    </div>
</div>
