<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dm-don-vi-heading" jhiTranslate="okmeApp.dmDonVi.home.createOrEditLabel">Create or edit a Dm Don Vi</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.ma" for="field_ma">Ma</label>
                    <input type="text" class="form-control" name="ma" id="field_ma"
                           formControlName="ma"/>
                    <div *ngIf="editForm.get('ma')!.invalid && (editForm.get('ma')!.dirty || editForm.get('ma')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ma')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ma')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 0 }">
                        This field is required to be at least 0 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ma')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.ten" for="field_ten">Ten</label>
                    <input type="text" class="form-control" name="ten" id="field_ten"
                           formControlName="ten"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.tongLd" for="field_tongLd">Tong Ld</label>
                    <input type="number" class="form-control" name="tongLd" id="field_tongLd"
                           formControlName="tongLd"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.tongLuong" for="field_tongLuong">Tong Luong</label>
                    <input type="number" class="form-control" name="tongLuong" id="field_tongLuong"
                           formControlName="tongLuong"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.loaiDv" for="field_loaiDv">Loai Dv</label>
                    <input type="text" class="form-control" name="loaiDv" id="field_loaiDv"
                           formControlName="loaiDv"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.diachi" for="field_diachi">Diachi</label>
                    <input type="text" class="form-control" name="diachi" id="field_diachi"
                           formControlName="diachi"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.dienthoai" for="field_dienthoai">Dienthoai</label>
                    <input type="text" class="form-control" name="dienthoai" id="field_dienthoai"
                           formControlName="dienthoai"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                           formControlName="fax"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.soTaiKhoan" for="field_soTaiKhoan">So Tai Khoan</label>
                    <input type="text" class="form-control" name="soTaiKhoan" id="field_soTaiKhoan"
                           formControlName="soTaiKhoan"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.nganHang" for="field_nganHang">Ngan Hang</label>
                    <input type="text" class="form-control" name="nganHang" id="field_nganHang"
                           formControlName="nganHang"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.maCqbh" for="field_maCqbh">Ma Cqbh</label>
                    <input type="text" class="form-control" name="maCqbh" id="field_maCqbh"
                           formControlName="maCqbh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.maTinh" for="field_maTinh">Ma Tinh</label>
                    <input type="text" class="form-control" name="maTinh" id="field_maTinh"
                           formControlName="maTinh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.maHuyen" for="field_maHuyen">Ma Huyen</label>
                    <input type="text" class="form-control" name="maHuyen" id="field_maHuyen"
                           formControlName="maHuyen"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.soDkkd" for="field_soDkkd">So Dkkd</label>
                    <input type="text" class="form-control" name="soDkkd" id="field_soDkkd"
                           formControlName="soDkkd"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.maSt" for="field_maSt">Ma St</label>
                    <input type="text" class="form-control" name="maSt" id="field_maSt"
                           formControlName="maSt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.nguoiLh" for="field_nguoiLh">Nguoi Lh</label>
                    <input type="text" class="form-control" name="nguoiLh" id="field_nguoiLh"
                           formControlName="nguoiLh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.maDvikcb" for="field_maDvikcb">Ma Dvikcb</label>
                    <input type="text" class="form-control" name="maDvikcb" id="field_maDvikcb"
                           formControlName="maDvikcb"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="okmeApp.dmDonVi.maKhoikcb" for="field_maKhoikcb">Ma Khoikcb</label>
                    <input type="text" class="form-control" name="maKhoikcb" id="field_maKhoikcb"
                           formControlName="maKhoikcb"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
