<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dmDonVi">
            <h2><span jhiTranslate="okmeApp.dmDonVi.detail.title">Dm Don Vi</span> {{ dmDonVi.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="okmeApp.dmDonVi.ma">Ma</span></dt>
                <dd>
                    <span>{{ dmDonVi.ma }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.ten">Ten</span></dt>
                <dd>
                    <span>{{ dmDonVi.ten }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.tongLd">Tong Ld</span></dt>
                <dd>
                    <span>{{ dmDonVi.tongLd }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.tongLuong">Tong Luong</span></dt>
                <dd>
                    <span>{{ dmDonVi.tongLuong }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.loaiDv">Loai Dv</span></dt>
                <dd>
                    <span>{{ dmDonVi.loaiDv }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.diachi">Diachi</span></dt>
                <dd>
                    <span>{{ dmDonVi.diachi }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.dienthoai">Dienthoai</span></dt>
                <dd>
                    <span>{{ dmDonVi.dienthoai }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.fax">Fax</span></dt>
                <dd>
                    <span>{{ dmDonVi.fax }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.soTaiKhoan">So Tai Khoan</span></dt>
                <dd>
                    <span>{{ dmDonVi.soTaiKhoan }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.nganHang">Ngan Hang</span></dt>
                <dd>
                    <span>{{ dmDonVi.nganHang }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.maCqbh">Ma Cqbh</span></dt>
                <dd>
                    <span>{{ dmDonVi.maCqbh }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.maTinh">Ma Tinh</span></dt>
                <dd>
                    <span>{{ dmDonVi.maTinh }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.maHuyen">Ma Huyen</span></dt>
                <dd>
                    <span>{{ dmDonVi.maHuyen }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.soDkkd">So Dkkd</span></dt>
                <dd>
                    <span>{{ dmDonVi.soDkkd }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.maSt">Ma St</span></dt>
                <dd>
                    <span>{{ dmDonVi.maSt }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.nguoiLh">Nguoi Lh</span></dt>
                <dd>
                    <span>{{ dmDonVi.nguoiLh }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.maDvikcb">Ma Dvikcb</span></dt>
                <dd>
                    <span>{{ dmDonVi.maDvikcb }}</span>
                </dd>
                <dt><span jhiTranslate="okmeApp.dmDonVi.maKhoikcb">Ma Khoikcb</span></dt>
                <dd>
                    <span>{{ dmDonVi.maKhoikcb }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dm-don-vi', dmDonVi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
