<div class="modal-header" (contextmenu)="__elementSelectionService.select('1842588499',$event)" [ngStyle]="__elementSelectionService.getStyles('1842588499')"(click)='__elementSelectionService.clear()'>
    <h4 class="modal-title" jhiTranslate="login.title" (contextmenu)="__elementSelectionService.select('338908558',$event)" [ngStyle]="__elementSelectionService.getStyles('338908558')">Sign in</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')" (contextmenu)="__elementSelectionService.select('830214741',$event)" [ngStyle]="__elementSelectionService.getStyles('830214741')">
        <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('62293976',$event)" [ngStyle]="__elementSelectionService.getStyles('62293976')">x</span>
    </button>
</div>

<div class="modal-body" (contextmenu)="__elementSelectionService.select('2025074531',$event)" [ngStyle]="__elementSelectionService.getStyles('2025074531')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('351205052',$event)" [ngStyle]="__elementSelectionService.getStyles('351205052')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('452943498',$event)" [ngStyle]="__elementSelectionService.getStyles('452943498')">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" (contextmenu)="__elementSelectionService.select('1262487866',$event)" [ngStyle]="__elementSelectionService.getStyles('1262487866')">
                <strong (contextmenu)="__elementSelectionService.select('2088751053',$event)" [ngStyle]="__elementSelectionService.getStyles('2088751053')">Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>

        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('533175784',$event)" [ngStyle]="__elementSelectionService.getStyles('533175784')">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm" (contextmenu)="__elementSelectionService.select('2133629844',$event)" [ngStyle]="__elementSelectionService.getStyles('2133629844')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('879645842',$event)" [ngStyle]="__elementSelectionService.getStyles('879645842')">
                    <label class="username-label" for="username" jhiTranslate="global.form.username.label" (contextmenu)="__elementSelectionService.select('913171573',$event)" [ngStyle]="__elementSelectionService.getStyles('913171573')">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="{{ 'global.form.username.placeholder' | translate }}" formControlName="username" #username (contextmenu)="__elementSelectionService.select('359008141',$event)" [ngStyle]="__elementSelectionService.getStyles('359008141')">
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('235789966',$event)" [ngStyle]="__elementSelectionService.getStyles('235789966')">
                    <label for="password" jhiTranslate="login.form.password" (contextmenu)="__elementSelectionService.select('1208078617',$event)" [ngStyle]="__elementSelectionService.getStyles('1208078617')">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{ 'login.form.password.placeholder' | translate }}" formControlName="password" (contextmenu)="__elementSelectionService.select('295094816',$event)" [ngStyle]="__elementSelectionService.getStyles('295094816')">
                </div>

                <div class="form-check" (contextmenu)="__elementSelectionService.select('879361520',$event)" [ngStyle]="__elementSelectionService.getStyles('879361520')">
                    <label class="form-check-label" for="rememberMe" (contextmenu)="__elementSelectionService.select('1425063005',$event)" [ngStyle]="__elementSelectionService.getStyles('1425063005')">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" (contextmenu)="__elementSelectionService.select('314521283',$event)" [ngStyle]="__elementSelectionService.getStyles('314521283')">
                        <span jhiTranslate="login.form.rememberme" (contextmenu)="__elementSelectionService.select('903821694',$event)" [ngStyle]="__elementSelectionService.getStyles('903821694')">Remember me</span>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button" (contextmenu)="__elementSelectionService.select('1319294024',$event)" [ngStyle]="__elementSelectionService.getStyles('1319294024')">Sign in</button>
            </form>

            <div class="mt-3 alert alert-warning" (contextmenu)="__elementSelectionService.select('534879125',$event)" [ngStyle]="__elementSelectionService.getStyles('534879125')">
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot" (contextmenu)="__elementSelectionService.select('1946402692',$event)" [ngStyle]="__elementSelectionService.getStyles('1946402692')">Did you forget your password?</a>
            </div>

            <div class="alert alert-warning" (contextmenu)="__elementSelectionService.select('945519795',$event)" [ngStyle]="__elementSelectionService.getStyles('945519795')">
                <span jhiTranslate="global.messages.info.register.noaccount" (contextmenu)="__elementSelectionService.select('1610874724',$event)" [ngStyle]="__elementSelectionService.getStyles('1610874724')">You don't have an account yet?</span>
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link" (contextmenu)="__elementSelectionService.select('1932389826',$event)" [ngStyle]="__elementSelectionService.getStyles('1932389826')">Register a new account</a>
            </div>
        </div>
    </div>
</div>
